@page "/"

<PageTitle>Home</PageTitle>

<div class="maingrid text-center text-white p-md-5 mb-4">
    <h1 class="bg-dark bg-opacity-50 m-5">GESTÃO DE CARRINHOS DE SORVETE</h1>
    <img class="imgwithback" src="./css/imgs/carrinho.jpg" width="300px">
    <div class="menu m-5">
        <h3 class="bg-dark bg-opacity-50 p-4">HOJE É O SEU DIA. USE ESTE APLICATIVO PARA GERENCIAR UNIDADES DE SORVETE, MULTIPLOS SORVETEIROS, SEUS CARRINHOS DE SORVETE E A QUANTIDADE DE SORVETE EM CADA CARRINHO.</h3>
    </div>
</div>
